Rc-Car/build
Rc-Car/install
Rc-Car/log
Rc-Car/src/build
Rc-Car/src/install
Rc-Car/src/log
build
install
log
.vscode
steering_time.csv

# fisiere prea mari pt GitHub (>100MB) sau fara rost sa fie versionate
Rc-Car/*.mp4
**/__pycache__/
